# Financial Tools

Based on the book "***Machine Learning & Data Science Blueprints for Finance***", by Hariom Tatsat, Sahil Puri and Brad Lookabaugh (from page 181 to 184)

Financial tools are able to extract some analytical and probabilistic mathematical features from the base dataset. The purpose is to get a better view from the raw data. It's basically some mathematical tools to allow us to see beyond the surface of the dataset and get us to analyse the timeseries more accuratelly.

## 1. ```import sys``` (getting the libraries in the right enviroment

The comand ```import sys``` guarantee that ```pandas``` and ```numpy``` is installed in the right enviroment: here.

In [1]:
import sys
!{sys.executable} -m pip install pandas numpy

Requirement already satisfied: pandas in c:\users\miguel\appdata\local\programs\python\python313\lib\site-packages (3.0.0)
Requirement already satisfied: numpy in c:\users\miguel\appdata\local\programs\python\python313\lib\site-packages (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\miguel\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\miguel\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\miguel\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Now we import ```pandas``` and ```numpy```

In [2]:
import pandas as pd
import numpy as np

## 2. Loading data

Data should be loaded from 'Libellula/historic_financial_data/EURUSD1.csv':

In [3]:
data = pd.read_csv('C:/Users/Miguel/OneDrive/Desktop/Libellula/historic_financial_data/EUR_USD.csv')
data

            Date   Price    Open    High     Low  Vol. Change %
0     02/11/2026  1.1871  1.1895  1.1928  1.1833   NaN   -0.20%
1     02/10/2026  1.1895  1.1913  1.1929  1.1887   NaN   -0.17%
2     02/09/2026  1.1915  1.1817  1.1927  1.1809   NaN    0.74%
3     02/08/2026  1.1827  1.1814  1.1828  1.1810   NaN    0.08%
4     02/06/2026  1.1817  1.1778  1.1827  1.1765   NaN    0.34%
...          ...     ...     ...     ...     ...   ...      ...
1563  02/17/2020  1.0834  1.0832  1.0852  1.0821   NaN    0.04%
1564  02/14/2020  1.0830  1.0841  1.0862  1.0827   NaN   -0.09%
1565  02/13/2020  1.0840  1.0874  1.0890  1.0833   NaN   -0.29%
1566  02/12/2020  1.0871  1.0916  1.0926  1.0865   NaN   -0.39%
1567  02/11/2020  1.0914  1.0911  1.0926  1.0890   NaN    0.05%

[1568 rows x 7 columns]

### 2.1. Data cleaning

Now we get away with the 'Not a Number' data

In [4]:
data = data.dropna(axis=1)
data

            Date   Price    Open    High     Low Change %
0     02/11/2026  1.1871  1.1895  1.1928  1.1833   -0.20%
1     02/10/2026  1.1895  1.1913  1.1929  1.1887   -0.17%
2     02/09/2026  1.1915  1.1817  1.1927  1.1809    0.74%
3     02/08/2026  1.1827  1.1814  1.1828  1.1810    0.08%
4     02/06/2026  1.1817  1.1778  1.1827  1.1765    0.34%
...          ...     ...     ...     ...     ...      ...
1563  02/17/2020  1.0834  1.0832  1.0852  1.0821    0.04%
1564  02/14/2020  1.0830  1.0841  1.0862  1.0827   -0.09%
1565  02/13/2020  1.0840  1.0874  1.0890  1.0833   -0.29%
1566  02/12/2020  1.0871  1.0916  1.0926  1.0865   -0.39%
1567  02/11/2020  1.0914  1.0911  1.0926  1.0890    0.05%

[1568 rows x 6 columns]

## 3. Financial Tools

### 3.1. Moving averages

#### 3.1.1. Short moving average

In [5]:
# Create short simple moving average over the short window
data['short_mavg'] = data['Price'].rolling(window=10, min_periods=1,center=False).mean()
data

            Date   Price    Open    High     Low Change %  short_mavg
0     02/11/2026  1.1871  1.1895  1.1928  1.1833   -0.20%    1.187100
1     02/10/2026  1.1895  1.1913  1.1929  1.1887   -0.17%    1.188300
2     02/09/2026  1.1915  1.1817  1.1927  1.1809    0.74%    1.189367
3     02/08/2026  1.1827  1.1814  1.1828  1.1810    0.08%    1.187700
4     02/06/2026  1.1817  1.1778  1.1827  1.1765    0.34%    1.186500
...          ...     ...     ...     ...     ...      ...         ...
1563  02/17/2020  1.0834  1.0832  1.0852  1.0821    0.04%    1.086880
1564  02/14/2020  1.0830  1.0841  1.0862  1.0827   -0.09%    1.084930
1565  02/13/2020  1.0840  1.0874  1.0890  1.0833   -0.29%    1.083350
1566  02/12/2020  1.0871  1.0916  1.0926  1.0865   -0.39%    1.083270
1567  02/11/2020  1.0914  1.0911  1.0926  1.0890    0.05%    1.083620

[1568 rows x 7 columns]

#### 3.1.2. Long moving average

In [6]:
# Create long simple moving average over the long window
data['long_mavg'] = data['Price'].rolling(window=60, min_periods=1, center=False).mean()
data

,Date,Price,Open,High,Low,Change %,short_mavg,long_mavg
0,02/11/2026,1.1871,1.1895,1.1928,1.1833,-0.20%,1.187100,1.187100
1,02/10/2026,1.1895,1.1913,1.1929,1.1887,-0.17%,1.188300,1.188300
2,02/09/2026,1.1915,1.1817,1.1927,1.1809,0.74%,1.189367,1.189367
3,02/08/2026,1.1827,1.1814,1.1828,1.1810,0.08%,1.187700,1.187700
4,02/06/2026,1.1817,1.1778,1.1827,1.1765,0.34%,1.186500,1.186500
...,...,...,...,...,...,...,...,...
1563,02/17/2020,1.0834,1.0832,1.0852,1.0821,0.04%,1.086880,1.093953
1564,02/14/2020,1.0830,1.0841,1.0862,1.0827,-0.09%,1.084930,1.093937
1565,02/13/2020,1.0840,1.0874,1.0890,1.0833,-0.29%,1.083350,1.093950
1566,02/12/2020,1.0871,1.0916,1.0926,1.0865,-0.39%,1.083270,1.094078
1567,02/11/2020,1.0914,1.0911,1.0926,1.0890,0.05%,1.083620,1.094205

#### 3.1.3. Creating a signal

Now we create a signal based on the crossing of a moving average over the other one. In this case, when the short moving average is higher than the long one, we have a positive value equals to one.

In [7]:
# Create signals
data['signal'] = np.where(data['short_mavg'] > data['long_mavg'], 1.0, 0.0)
data

,Date,Price,Open,High,Low,Change %,short_mavg,long_mavg,signal
0,02/11/2026,1.1871,1.1895,1.1928,1.1833,-0.20%,1.187100,1.187100,0.0
1,02/10/2026,1.1895,1.1913,1.1929,1.1887,-0.17%,1.188300,1.188300,0.0
2,02/09/2026,1.1915,1.1817,1.1927,1.1809,0.74%,1.189367,1.189367,0.0
3,02/08/2026,1.1827,1.1814,1.1828,1.1810,0.08%,1.187700,1.187700,0.0
4,02/06/2026,1.1817,1.1778,1.1827,1.1765,0.34%,1.186500,1.186500,0.0
...,...,...,...,...,...,...,...,...,...
1563,02/17/2020,1.0834,1.0832,1.0852,1.0821,0.04%,1.086880,1.093953,0.0
1564,02/14/2020,1.0830,1.0841,1.0862,1.0827,-0.09%,1.084930,1.093937,0.0
1565,02/13/2020,1.0840,1.0874,1.0890,1.0833,-0.29%,1.083350,1.093950,0.0
1566,02/12/2020,1.0871,1.0916,1.0926,1.0865,-0.39%,1.083270,1.094078,0.0
1567,02/11/2020,1.0914,1.0911,1.0926,1.0890,0.05%,1.083620,1.094205,0.0

#### 3.1.4. Exponenttial moving average

In [8]:
#calculation of exponential moving average
def EMA(data, n):
    EMA = pd.Series(data['Price'].ewm(span=n, min_periods=n).mean(), name='EMA_' + str(n))
    return EMA
data['EMA10'] = EMA(data, 10)
data['EMA30'] = EMA(data, 30)
data['EMA200'] = EMA(data, 200)
data

,Date,Price,Open,High,Low,Change %,short_mavg,long_mavg,signal,EMA10,EMA30,EMA200
0,02/11/2026,1.1871,1.1895,1.1928,1.1833,-0.20%,1.187100,1.187100,0.0,NaN,NaN,NaN
1,02/10/2026,1.1895,1.1913,1.1929,1.1887,-0.17%,1.188300,1.188300,0.0,NaN,NaN,NaN
2,02/09/2026,1.1915,1.1817,1.1927,1.1809,0.74%,1.189367,1.189367,0.0,NaN,NaN,NaN
3,02/08/2026,1.1827,1.1814,1.1828,1.1810,0.08%,1.187700,1.187700,0.0,NaN,NaN,NaN
4,02/06/2026,1.1817,1.1778,1.1827,1.1765,0.34%,1.186500,1.186500,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1563,02/17/2020,1.0834,1.0832,1.0852,1.0821,0.04%,1.086880,1.093953,0.0,1.088208,1.096213,1.129042
1564,02/14/2020,1.0830,1.0841,1.0862,1.0827,-0.09%,1.084930,1.093937,0.0,1.087261,1.095361,1.128584
1565,02/13/2020,1.0840,1.0874,1.0890,1.0833,-0.29%,1.083350,1.093950,0.0,1.086668,1.094628,1.128141
1566,02/12/2020,1.0871,1.0916,1.0926,1.0865,-0.39%,1.083270,1.094078,0.0,1.086747,1.094142,1.127732
1567,02/11/2020,1.0914,1.0911,1.0926,1.0890,0.05%,1.083620,1.094205,0.0,1.087593,1.093965,1.127371

### 3.2. Rate of change

In [10]:
def ROC(data, n):
    M = data.diff(n - 1)
    N = data.shift(n - 1)
    ROC = pd.Series(((M / N) * 100), name = 'ROC_' + str(n))
    return ROC
data['ROC10'] = ROC(data['Price'], 10)
data['ROC30'] = ROC(data['Price'], 30)
data

,Date,Price,Open,High,Low,Change %,short_mavg,long_mavg,signal,EMA10,EMA30,EMA200,ROC10,ROC30
0,02/11/2026,1.1871,1.1895,1.1928,1.1833,-0.20%,1.187100,1.187100,0.0,NaN,NaN,NaN,NaN,NaN
1,02/10/2026,1.1895,1.1913,1.1929,1.1887,-0.17%,1.188300,1.188300,0.0,NaN,NaN,NaN,NaN,NaN
2,02/09/2026,1.1915,1.1817,1.1927,1.1809,0.74%,1.189367,1.189367,0.0,NaN,NaN,NaN,NaN,NaN
3,02/08/2026,1.1827,1.1814,1.1828,1.1810,0.08%,1.187700,1.187700,0.0,NaN,NaN,NaN,NaN,NaN
4,02/06/2026,1.1817,1.1778,1.1827,1.1765,0.34%,1.186500,1.186500,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1563,02/17/2020,1.0834,1.0832,1.0852,1.0821,0.04%,1.086880,1.093953,0.0,1.088208,1.096213,1.129042,-1.732426,-2.746858
1564,02/14/2020,1.0830,1.0841,1.0862,1.0827,-0.09%,1.084930,1.093937,0.0,1.087261,1.095361,1.128584,-1.527550,-1.795430
1565,02/13/2020,1.0840,1.0874,1.0890,1.0833,-0.29%,1.083350,1.093950,0.0,1.086668,1.094628,1.128141,-0.358489,-0.367647
1566,02/12/2020,1.0871,1.0916,1.0926,1.0865,-0.39%,1.083270,1.094078,0.0,1.086747,1.094142,1.127732,-0.073536,0.778715
1567,02/11/2020,1.0914,1.0911,1.0926,1.0890,0.05%,1.083620,1.094205,0.0,1.087593,1.093965,1.127371,0.571323,1.800205

### 4. Momentum

In [12]:
def MOM(data, n):
    MOM = pd.Series(data.diff(n), name='Momentum_' + str(n))
    return MOM
data['MOM10'] = MOM(data['Price'], 10)
data['MOM30'] = MOM(data['Price'], 30)
data

,Date,Price,Open,High,Low,Change %,short_mavg,long_mavg,signal,EMA10,EMA30,EMA200,ROC10,ROC30,MOM10,MOM30
0,02/11/2026,1.1871,1.1895,1.1928,1.1833,-0.20%,1.187100,1.187100,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02/10/2026,1.1895,1.1913,1.1929,1.1887,-0.17%,1.188300,1.188300,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02/09/2026,1.1915,1.1817,1.1927,1.1809,0.74%,1.189367,1.189367,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,02/08/2026,1.1827,1.1814,1.1828,1.1810,0.08%,1.187700,1.187700,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,02/06/2026,1.1817,1.1778,1.1827,1.1765,0.34%,1.186500,1.186500,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1563,02/17/2020,1.0834,1.0832,1.0852,1.0821,0.04%,1.086880,1.093953,0.0,1.088208,1.096213,1.129042,-1.732426,-2.746858,-0.0298,-0.0212
1564,02/14/2020,1.0830,1.0841,1.0862,1.0827,-0.09%,1.084930,1.093937,0.0,1.087261,1.095361,1.128584,-1.527550,-1.795430,-0.0195,-0.0310
1565,02/13/2020,1.0840,1.0874,1.0890,1.0833,-0.29%,1.083350,1.093950,0.0,1.086668,1.094628,1.128141,-0.358489,-0.367647,-0.0158,-0.0188
1566,02/12/2020,1.0871,1.0916,1.0926,1.0865,-0.39%,1.083270,1.094078,0.0,1.086747,1.094142,1.127732,-0.073536,0.778715,-0.0008,-0.0009
1567,02/11/2020,1.0914,1.0911,1.0926,1.0890,0.05%,1.083620,1.094205,0.0,1.087593,1.093965,1.127371,0.571323,1.800205,0.0035,0.0127

### 5. RSI (Relative Index Strength)

In [15]:
def RSI(series, period):
    delta = series.diff().dropna()
    u = delta * 0
    d = u.copy()
    u[delta > 0] = delta[delta > 0]
    d[delta < 0] = -delta[delta < 0]
    u[u.index[period-1]] = np.mean( u[:period] ) #first value is sum of avg gains
    u = u.drop(u.index[:(period-1)])
    d[d.index[period-1]] = np.mean( d[:period] ) #first value is sum of avg losses
    d = d.drop(d.index[:(period-1)])
    rs = u.ewm(com=period-1, adjust=False).mean() / d.ewm(com=period-1, adjust=False).mean()
    return 100 - 100 / (1 + rs)
data['RSI10'] = RSI(data['Price'], 10)
data['RSI30'] = RSI(data['Price'], 30)
data['RSI200'] = RSI(data['Price'], 200)
data

,Date,Price,Open,High,Low,Change %,short_mavg,long_mavg,signal,EMA10,EMA30,EMA200,ROC10,ROC30,MOM10,MOM30,RSI10,RSI30,RSI200
0,02/11/2026,1.1871,1.1895,1.1928,1.1833,-0.20%,1.187100,1.187100,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02/10/2026,1.1895,1.1913,1.1929,1.1887,-0.17%,1.188300,1.188300,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02/09/2026,1.1915,1.1817,1.1927,1.1809,0.74%,1.189367,1.189367,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,02/08/2026,1.1827,1.1814,1.1828,1.1810,0.08%,1.187700,1.187700,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,02/06/2026,1.1817,1.1778,1.1827,1.1765,0.34%,1.186500,1.186500,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1563,02/17/2020,1.0834,1.0832,1.0852,1.0821,0.04%,1.086880,1.093953,0.0,1.088208,1.096213,1.129042,-1.732426,-2.746858,-0.0298,-0.0212,38.792415,45.322206,46.650424
1564,02/14/2020,1.0830,1.0841,1.0862,1.0827,-0.09%,1.084930,1.093937,0.0,1.087261,1.095361,1.128584,-1.527550,-1.795430,-0.0195,-0.0310,38.469796,45.217100,46.629037
1565,02/13/2020,1.0840,1.0874,1.0890,1.0833,-0.29%,1.083350,1.093950,0.0,1.086668,1.094628,1.128141,-0.358489,-0.367647,-0.0158,-0.0188,39.859143,45.543707,46.690443
1566,02/12/2020,1.0871,1.0916,1.0926,1.0865,-0.39%,1.083270,1.094078,0.0,1.086747,1.094142,1.127732,-0.073536,0.778715,-0.0008,-0.0009,44.199076,46.565326,46.880856
1567,02/11/2020,1.0914,1.0911,1.0926,1.0890,0.05%,1.083620,1.094205,0.0,1.087593,1.093965,1.127371,0.571323,1.800205,0.0035,0.0127,49.784029,47.966067,47.144045

### 6. Stochastic oscillators

That one is one of the most important for the purposes of our risk management model. 

> "A stochastic oscillator is a momentum indicator that compares the closing price of a security to a range of its previous prices over a certain period of time. %K and %D are slow and fast indicators. The fast indicator is more sensitive than the slow indicator to changes in the price of the underlying security and will likely result in many transaction signals."
>> ***Machine Learning & Data Science Blueprints for Finance*** (p. 182)

In [24]:
def STOK(close, low, high, n):
    STOK = ((close - low.rolling(n).min()) / (high.rolling(n).max() - low.rolling(n).min())) * 100
    return STOK
    
def STOD(close, low, high, n):
    STOK = ((close - low.rolling(n).min()) / (high.rolling(n).max() - low.rolling(n).min())) * 100
    STOD = STOK.rolling(3).mean()
    return STOD

data['%K10'] = STOK(data['Price'], data['Low'], data['High'], 10)
data['%D10'] = STOD(data['Price'], data['Low'], data['High'], 10)
data['%K30'] = STOK(data['Price'], data['Low'], data['High'], 30)
data['%D30'] = STOD(data['Price'], data['Low'], data['High'], 30)
data['%K200'] = STOK(data['Price'], data['Low'], data['High'], 200)
data['%D200'] = STOD(data['Price'], data['Low'], data['High'], 200)

data

,Date,Price,Open,High,Low,Change %,short_mavg,long_mavg,signal,EMA10,...,MOM30,RSI10,RSI30,RSI200,%K10,%D10,%K30,%D30,%K200,%D200
0,02/11/2026,1.1871,1.1895,1.1928,1.1833,-0.20%,1.187100,1.187100,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02/10/2026,1.1895,1.1913,1.1929,1.1887,-0.17%,1.188300,1.188300,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02/09/2026,1.1915,1.1817,1.1927,1.1809,0.74%,1.189367,1.189367,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,02/08/2026,1.1827,1.1814,1.1828,1.1810,0.08%,1.187700,1.187700,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,02/06/2026,1.1817,1.1778,1.1827,1.1765,0.34%,1.186500,1.186500,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1563,02/17/2020,1.0834,1.0832,1.0852,1.0821,0.04%,1.086880,1.093953,0.0,1.088208,...,-0.0212,38.792415,45.322206,46.650424,20.577617,10.056914,22.987165,20.147802,14.316860,12.548450
1564,02/14/2020,1.0830,1.0841,1.0862,1.0827,-0.09%,1.084930,1.093937,0.0,1.087261,...,-0.0310,38.469796,45.217100,46.629037,23.144105,15.712119,22.520420,21.159082,14.026163,13.178295
1565,02/13/2020,1.0840,1.0874,1.0890,1.0833,-0.29%,1.083350,1.093950,0.0,1.086668,...,-0.0188,39.859143,45.543707,46.690443,47.727273,30.482998,23.687281,23.064955,14.752907,14.365310
1566,02/12/2020,1.0871,1.0916,1.0926,1.0865,-0.39%,1.083270,1.094078,0.0,1.086747,...,-0.0009,44.199076,46.565326,46.880856,63.087248,44.652875,27.304551,24.504084,17.005814,15.261628
1567,02/11/2020,1.0914,1.0911,1.0926,1.0890,0.05%,1.083620,1.094205,0.0,1.087593,...,0.0127,49.784029,47.966067,47.144045,91.946309,67.586943,32.322054,27.771295,20.130814,17.296512