# Financial Tools

Based on the book "***Machine Learning & Data Science Blueprints for Finance***", by Hariom Tatsat, Sahil Puri and Brad Lookabaugh (from page 181 to 184)

The comand ```import sys``` guarantee that the ```pandas``` is installed in the right enviroment: here.

In [1]:
import sys
!{sys.executable} -m pip install pandas

Requirement already satisfied: pandas in c:\users\miguel\appdata\local\programs\python\python313\lib\site-packages (3.0.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\miguel\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\miguel\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\miguel\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\miguel\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Now we import ```pandas```.

In [2]:
import pandas as pd

## Loading data

Data should be loaded from 'Libellula/historic_financial_data/EURUSD1.csv':

In [5]:
data = pd.read_csv('C:/Users/Miguel/OneDrive/Desktop/Libellula/historic_financial_data/EUR_USD.csv')
data

          Date   Price    Open    High     Low  Vol. Change %
0   02/11/2026  1.1911  1.1888  1.1914  1.1886   NaN    0.13%
1   02/10/2026  1.1895  1.1913  1.1929  1.1887   NaN   -0.17%
2   02/09/2026  1.1915  1.1817  1.1927  1.1809   NaN    0.74%
3   02/08/2026  1.1827  1.1814  1.1828  1.1810   NaN    0.08%
4   02/06/2026  1.1817  1.1778  1.1827  1.1765   NaN    0.34%
5   02/05/2026  1.1777  1.1808  1.1822  1.1774   NaN   -0.25%
6   02/04/2026  1.1807  1.1819  1.1839  1.1790   NaN   -0.10%
7   02/03/2026  1.1819  1.1791  1.1829  1.1780   NaN    0.24%
8   02/02/2026  1.1791  1.1856  1.1875  1.1776   NaN   -0.50%
9   01/30/2026  1.1850  1.1971  1.1976  1.1850   NaN   -1.01%
10  01/29/2026  1.1971  1.1954  1.1997  1.1906   NaN    0.14%
11  01/28/2026  1.1954  1.2041  1.2046  1.1896   NaN   -0.72%
12  01/27/2026  1.2041  1.1876  1.2079  1.1850   NaN    1.35%
13  01/26/2026  1.1881  1.1833  1.1907  1.1833   NaN    0.45%
14  01/23/2026  1.1828  1.1753  1.1834  1.1728   NaN    0.62%
15  01/22/2026  1.1755  1.1684  1.1757  1.1670   NaN    0.61%
16  01/21/2026  1.1684  1.1722  1.1743  1.1677   NaN   -0.35%
17  01/20/2026  1.1725  1.1644  1.1769  1.1632   NaN    0.68%
18  01/19/2026  1.1646  1.1584  1.1649  1.1572   NaN    0.41%
19  01/16/2026  1.1599  1.1608  1.1628  1.1584   NaN   -0.08%
20  01/15/2026  1.1608  1.1642  1.1648  1.1593   NaN   -0.31%
21  01/14/2026  1.1644  1.1646  1.1662  1.1635   NaN    0.01%
22  01/13/2026  1.1643  1.1669  1.1678  1.1634   NaN   -0.21%
23  01/12/2026  1.1668  1.1635  1.1698  1.1621   NaN    0.26%